.nested_comment {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-left: 5.625rem;
  margin-bottom: 30px;
}
.nested_reply {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
}
.comment_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44.875rem;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #122ac0;
  margin-bottom: 0.9375rem;
}
.reply {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: transparent;
  border: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #000000;
  opacity: 0.4;
  cursor: pointer;
}
.nested_comment_name {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #122ac0;
}
.comment_name {
}
.comment_photo {
  display: flex;
  align-self: start;
  width: 3.8125rem;
  height: 3.8125rem;
  border-radius: 50%;
  object-fit: cover;
}
.nested_text {
  max-width: 51.5625rem;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 0.9375rem;
}
.nested_btns {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}
