.nested_comment {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-left: 5.625rem;
  margin-bottom: 30px;
}
.nested_reply {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
}
.comment_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44.875rem;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #122ac0;
  margin-bottom: 0.9375rem;
}
.reply {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: transparent;
  border: none;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #000000;
  opacity: 0.4;
  transition: color .3s ease-in;
}
.reply:hover{
  color: teal;
}
.reply span {
  display: flex;
  align-self: end;
}
.name {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #122ac0;
}

.comment_photo {
  display: flex;
  align-self: start;
  width: 3.8125rem;
  height: 3.8125rem;
  border-radius: 50%;
  object-fit: cover;
}
.nested_text {
  width: 51.5625rem;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 0.9375rem;
}
.nested_btns {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}
@media (max-width: 1044px) {
  .nested_text {
    width: 44.5625rem;
  }
}
@media (max-width: 978px) {
  .nested_text {
    width: 34.5625rem;
    font-size: 1rem;
    line-height: 1.1875rem;
  }
}
@media (max-width: 480px) {
  .nested_comment {
    margin-left: 0;
    flex-direction: column;
  }
  .nested_text {
    width: 27.5625rem;
  }
  .nested_reply {
    display: flex;
    position: relative;
    margin-left: 5.625rem;
    margin: -40px 0 35px 90px;
  }

  .reply {
    position: absolute;
    top: 1.8125rem;
    left: -0.375rem;
  }
}
@media (max-width: 460px) {
  .nested_text {
    width: 22.5625rem;
  }
}
@media (max-width: 400px) {
  .nested_text {
    width: 18.75rem;
  }
  .nested_reply {
    column-gap: 0;
  }
}
